@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,400;0,700;1,100&family=Candal&family=Cormorant:ital,wght@0,300;0,500;0,700;1,300;1,500&family=Dancing+Script:wght@500&family=Dangrek&family=Heebo:wght@800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Lobster&family=Montserrat:wght@100;200;300;400;500;600&family=Ms+Madi&family=Oxygen:wght@300;400&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a {
	text-decoration: none;
}
.container {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img {
	height: 100%;
	width: 100%;
	object-fit: cover;
}
p {
	color: black;
	font-size: 1.4rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300;
	letter-spacing: 0.05rem;
}
.section-title {
	font-size: 4rem;
	font-weight: 800;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-titlee {
	font-size: 8rem;
	font-weight: 800;
	color: black;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
	text-align: center;
}
.section-title span {
	color: crimson;
}
.section-titlee span {
	color: crimson;
}
.section-titleee {
	font-size: 8rem;
	font-weight: 800px;
	color: black;
	margin-bottom: 1px;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	text-align: center;
}
.section-titleee span {
	color: crimson;
}
.section-titleee span {
	color: crimson;
}
.cta {
	display: inline-block;
	padding: 10px 30px;
	color: white;
	background-color: transparent;
	border: 2px solid crimson;
	font-size: 2rem;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	margin-top: 30px;
	transition: 0.3s ease;
	transition-property: background-color, color;
}
.cta:hover {
	color: white;
	background-color: crimson;
}
.brand h1 {
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span {
	color: crimson;
}

/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: rgba(31, 30, 30, 0.212);
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1350px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 110vw;
	height: 110vh;
	left: 110%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: rgb(255, 255, 255);
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: crimson;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid rgb(185, 185, 185);
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger:after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid rgb(226, 226, 226);
	animation: hamburger_puls 1s ease infinite;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: rgb(182, 182, 182);
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: rgb(255, 255, 255);
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero {
	background-image:linear-gradient(rgba(71, 68, 68, 0.1), rgba(65, 30, 30, 0.322)), url(./img/imagen-inicio.jpeg);
	background-size: cover;
	background-position: center center;
	position: relative;
	z-index: 1;
	animation: movimiento 10s infinite  alternate;
}
@keyframes movimiento{
	from{
	  background-position: top right;
	}to{
	  background-position: bottom left;
	}
  }
#hero::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 1000%;
	background-color: black;
	opacity: 0.7;
	z-index: -1;
}
#hero .hero {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero h1 {
	display: block;
	width: fit-content;
	font-size: 4rem;
	position: relative;
	color: transparent;
	animation: text_reveal 0.5s ease forwards;
	animation-delay: 1s;
}
#hero p {
	display: block;
	width: fit-content;
	font-size: 3rem;
	position: relative;
	color: transparent;
	animation: text_reveal 1s ease forwards;
	animation-delay: 1s;
}
#hero h1:nth-child(1) {
	animation-delay: 1s;
}
#hero h1:nth-child(2) {
	animation-delay: 2s;
}
#hero h1:nth-child(3) {
	animation: text_reveal_name 0.5s ease forwards;
	animation-delay: 3s;
}
#hero p:nth-child(4) {
	animation-delay: 5s;
}
#hero h1 span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 1s ease;
	animation-delay: 0.5s;
}
#hero h1:nth-child(1) span {
	animation-delay: 0.5s;
}
#hero h1:nth-child(2) span {
	animation-delay: 1.5s;
}
#hero h1:nth-child(3) span {
	animation-delay: 2.5s;
}
#hero p span {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background-color: crimson;
	animation: text_reveal_box 2s ease;
	animation-delay: 0.5s;
}
#hero p:nth-child(4) span {
	animation-delay: 4s;
}

/* End Hero Section */
/* About Section */
#about .about {
	flex-direction: column-reverse;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .col-left {
	width: 250px;
	height: 360px;
}
#about .col-right {
	width: 100%;
}
#about .col-right h2 {
	font-size: 3rem;
	font-style: oblique;
	text-decoration: underline red;
	font-weight: 500;
	letter-spacing: 0.2rem;
	margin-bottom: 10px;
}
#about .col-right p {
	margin-bottom: 2px;
}
#about p{
	font-size: 16px;
	font-weight: 400;
}
#about .servitec{
	font-size: 20px;
	color: black;
}
#about .col-right .cta {
	color: rgb(0, 0, 0);
	margin-bottom: 50px;
	padding: 10px 20px;
	font-size: 2rem;
}
#about .col-left .about-img {
	height: 110%;
	width: 100%;
	position: relative;
	border: 10px solid white;
}
#about .col-left .about-img::after {
	content: '';
	position: absolute;
	left: -33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 7px solid crimson;
	z-index: -1;
}
/* End About Section */

/*servicios*/
.titulo-tecno{
	text-align: center;
	font-family: 'Montserrat';
	font-size: 40px;
	
}
.section-titlee{

}
.conteudo-geral {
	height: 100vh;
	padding: 80px 70px;
  }
  .componente-interno-geral {
	position: relative;
	height: 100%;
  }
  .componente-interno-geral:hover .componente-fundo-imagem:after {
	opacity: 1;
  }
  
  .componente {
	position: absolute;
	left: 0;
	top: 0;
	width: 19.2%;
	height: 100%;
	background: #252525;
	transition: transform 0.6s 0.7s, width 0.7s, opacity 0.6s 0.7s,
	  z-index 0s 1.3s;
	will-change: transform, width, opacity;
	margin-top: 2%;
  }
  .componente:not(.caixa-conteudo-ativo) {
	cursor: pointer;
  }
  .componente-sem-rolagem {
	overflow: hidden;
	position: relative;
	height: 100%;
  }
  .componente-interno {
	overflow: hidden;
	position: relative;
	height: 100%;
	transition: transform 1s;
  }
  .conteudo-geral.js-conteudo-geral .componente-interno {
	transform: translate3d(0, 100%, 0);
  }
  .componente-fundo-imagem {
	position: relative;
	height: 100%;
	transition: transform 0.6s 0.7s;
	will-change: transform;
  }
  
  .conteudo-geral.caixa--componente-ativo .componente-fundo-imagem {
	width: calc(100vw - 140px);
  }
  
  .componente-fundo-imagem:before {
	content: "";
	position: absolute;
	left: 0;
	top: -5%;
	width: 100%;
	height: 110%;
	background-size: cover;
	background-position: center center;
	transition: transform 1s;
	transform: translate3d(0, 0, 0) scale(1);
  }
  
  .conteudo-geral.js-conteudo-geral .componente-fundo-imagem:before {
	transform: translate3d(0, -100%, 0) scale(1.2);
  }
  .componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
	transition: transform 0.8s;
  }
  .componente-fundo-imagem:after {
	content: "";
	z-index: 1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	transition: opacity 0.5s;
  }
  .conteudo-geral.caixa--componente-ativo .componente-fundo-imagem:after {
	transition: opacity 0.5s 1.4s;
	opacity: 1 !important;
  }
  .componente-visual-inicial {
	z-index: 2;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	padding-bottom: 2rem;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	transition: all 0.3s 1.2s;
  }
  .conteudo-geral.js-conteudo-geral .componente-visual-inicial {
	opacity: 0;
	transform: translateY(10px);
  }
  .conteudo-geral.caixa--componente-ativo .componente-visual-inicial {
	opacity: 0;
	transform: translateY(30px);
	transition: all 0.5s;
  }
  .componente-titulo {
	color: #fff;
	text-transform: uppercase;
	font-family:'Libre Baskerville', serif;
	font-size: 2.2em;
  }
  .componente-content {
	z-index: -2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	padding: 30px;
	opacity: 0;
	pointer-events: none;
	transition: all 0.1s;
  }
  .componente.caixa-conteudo-ativo .componente-content {
	z-index: 2;
	opacity: 1;
	pointer-events: auto;
	transition: all 0.5s 1.4s;
  }
  .componente-text {
	text-transform: uppercase;
	font-size: 45px;
	text-align: center;
	color: #fff;
	font-family:'Libre Baskerville', serif;
	text-decoration: underline ;
  }
  .componente-teext span {
	background: linear-gradient(rgb(216, 33, 33),rgb(4, 0, 255));
	-webkit-background-clip: text;
	color: transparent;
	font-size: 50px;
  }
  .componente-teext .span2 {
	color: rgb(207, 241, 10);
	font-size: 50px;
  }
  .componente-teext .span3 {
	color: rgb(13, 209, 235);
	font-size: 50px;
  }
  .componente-teext .span4 {
	color: rgb(53, 128, 9);
	font-size: 50px;
  }
  .componente-teext .span5 {
	color: rgb(255, 6, 6);
	font-size: 50px;
  }
  .componente-teext {
	font-family: 'Montserrat', sans-serif;;
	font-style: oblique;
	font-size: 25px;
	margin-top: 2%;
	margin-left: 2%;
	margin-right: 3%;
	color: #fff;
  }
  .componente-botao-fechar {
	z-index: -1;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 60px;
	height: 60px;
	opacity: 0;
	pointer-events: none;
	transition: all 0s 0.45s;
	cursor: pointer;
  }
  .componente.caixa-conteudo-ativo .componente-botao-fechar {
	z-index: 5;
	opacity: 1;
	pointer-events: auto;
	transition: all 0s 1.4s;
  }
  .componente-botao-fechar:before,
  .componente-botao-fechar:after {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 100%;
	height: 8px;
	margin-top: -4px;
	background: #fff;
	opacity: 0;
	transition: opacity 0s;
  }
  .componente.caixa-conteudo-ativo .componente-botao-fechar:before,
  .componente.caixa-conteudo-ativo .componente-botao-fechar:after {
	opacity: 1;
  }
  .componente-botao-fechar:before {
	transform: rotate(40deg) translateX(100%);
  }
  .componente.caixa-conteudo-ativo .componente-botao-fechar:before {
	transition: all 0.3s 1.4s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	transform: rotate(45deg) translateX(0);
  }
  .componente-botao-fechar:after {
	transform: rotate(-45deg) translateX(100%);
  }
  .componente.caixa-conteudo-ativo .componente-botao-fechar:after {
	transition: all 0.3s 1.55s cubic-bezier(0.72, 0.09, 0.32, 1.57);
	transform: rotate(-45deg) translateX(0);
  }
 /* .componente-index {

  }*/
  .componente:hover .componente-index {
	transform: translate3d(0, 0, 0);
  }
  .conteudo-geral.caixa--componente-ativo .componente-index {
	transition: transform 0.5s, opacity 0.3s;
	opacity: 0;
  }
  .componente-index-back,
  .componente-index-front {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
  }
  .componente-index-back {
	color: #173c5c;
	opacity: 0;
	transition: opacity 0.25s 0.25s;
  }
  .componente:hover .componente-index-back {
	transition: opacity 0.25s;
	opacity: 1;
  }
  .componente-index-overlay {
	overflow: hidden;
	position: relative;
	transform: translate3d(0, 100%, 0);
	transition: transform 0.5s 0.1s;
	color: transparent;
  }
  .componente-index-overlay:before {
	content: attr(data-index);
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	color: #fff;
	transform: translate3d(0, -100%, 0);
	transition: transform 0.5s 0.1s;
  }
  .componente:hover .componente-index-overlay {
	transform: translate3d(0, 0, 0);
  }
  .componente:hover .componente-index-overlay:before {
	transform: translate3d(0, 0, 0);
  }
  .componente:nth-child(1) {
	transform: translate3d(0%, 0, 0);
	transform-origin: 50% 50%;
  }
  .conteudo-geral.caixa--componente-ativo
	.componente:nth-child(1):not(.caixa-conteudo-ativo) {
	transform: scale(0.5) translate3d(0%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .componente:nth-child(1) .componente-interno {
	transition-delay: 0s;
  }
  .componente:nth-child(1) .componente-fundo-imagem {
	transform: translate3d(0%, 0, 0);
  }
  .componente:nth-child(1) .componente-fundo-imagem:before {
	transition-delay: 0s;
	background-image: url("img/html&css.jpg");
  }
  .componente:nth-child(2) {
	transform: translate3d(105.2083333333%, 0, 0);
	transform-origin: 155.2% 50%;
  }
  .conteudo-geral.caixa--componente-ativo
	.componente:nth-child(2):not(.caixa-conteudo-ativo) {
	transform: scale(0.5) translate3d(105.2%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .componente:nth-child(2) .componente-interno {
	transition-delay: 0.1s;
  }
  .componente:nth-child(2) .componente-fundo-imagem:before {
	transition-delay: 0.1s;
	background-image: url("img/ic-javascript.jpg");
  }
  .componente:nth-child(3) {
	transform: translate3d(210.4%, 0, 0);
	transform-origin: 260.4% 50%;
  }
  .conteudo-geral.caixa--componente-ativo
	.componente:nth-child(3):not(.caixa-conteudo-ativo) {
	transform: scale(0.5) translate3d(210.4166666667%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .componente:nth-child(3) .componente-interno {
	transition-delay: 0.2s;
  }
  .componente:nth-child(3) .componente-fundo-imagem:before {
	transition-delay: 0.2s;
	background-image: url("img/react.jpg");
  }
  .componente:nth-child(4) {
	transform: translate3d(315.6%, 0, 0);
	transform-origin: 365.6% 50%;
  }
  .conteudo-geral.caixa--componente-ativo
	.componente:nth-child(4):not(.caixa-conteudo-ativo) {
	transform: scale(0.5) translate3d(315.625%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .componente:nth-child(4) .componente-interno {
	transition-delay: 0.3s;
  }
  .componente:nth-child(4) .componente-fundo-imagem:before {
	transition-delay: 0.3s;
	background-image: url("img/VUE.jpg");
  }
  .componente:nth-child(5) {
	transform: translate3d(420.3%, 0, 0);
	transform-origin: 470.8% 50%;
  }
  .conteudo-geral.caixa--componente-ativo
	.componente:nth-child(5):not(.caixa-conteudo-ativo) {
	transform: scale(0.5) translate3d(420.8%, 0, 0);
	opacity: 0;
	transition: transform 0.95s, opacity 0.95s;
  }
  .componente:nth-child(5) .componente-interno {
	transition-delay: 0.4s;
  }
  .componente:nth-child(5) .componente-fundo-imagem:before {
	transition-delay: 0.4s;
	background-image: url("img/git.jpg");
  }
  .componente:hover .componente-fundo-imagem:after {
	opacity: 0;
  }
  .componente.caixa-conteudo-ativo {
	z-index: 1;
	width: 100%;
	transform: translate3d(0, 0, 0);
	transition: transform 0.6s, width 0.7s 0.7s, z-index 0s;
  }
  .componente.caixa-conteudo-ativo .componente-fundo-imagem {
	transform: translate3d(0, 0, 0);
	transition: transform 0.6s;
  }
  .componente.caixa-conteudo-ativo .componente-fundo-imagem:before {
	transition-delay: 0.6s;
	transform: scale(1.1);
  }
  
  @media screen and (max-width: 780px) {
	.componente-titulo {
	  font-size: 1.5rem;
	}
	.section-titleee {
		font-size: 2.55rem;
		font-weight: 80px;
		color: black;
		margin-bottom: 10px;
		text-transform: uppercase;
		letter-spacing: 0.5rem;
		text-align: center;
	}
	.componente-interno-geral{
		height: 100%;
		width: 100%;
	}
	.componente-teext{
		font-size: 18.5px;
		font-style:oblique;
		font-family:'Montserrat', sans-serif;
	}
	.componente-text{
		font-size:20px;
	}
	.titulo-tecno{
		text-align: center;
	}
	.componente-botao-fechar:before,
	.componente-botao-fechar:after {
	  content: "";
	  position: absolute;
	  left: 30%;
	  top: 35%;
	  width: 70%;
	  height: 8px;
	  margin-top: -5px;
	  background: #fff;
	  opacity: 0;
	  transition: opacity 0s;
	}
  }
/*fin de servicios*/

/* portafolio section */
#projects .projects {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#projects .projects-header h1 {
	margin-bottom: 50px;
}
#projects .all-projects {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#projects .project-item {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
	border-radius: 10px;
}
#projects .project-info {
	padding: 30px;
	flex-basis: 50%;
	height: 100%;
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	color: white;
}
#projects .project-info h1 {
	font-size: 4rem;
	font-weight: 500;
}
#projects .project-info h2 {
	font-size: 1.8rem;
	font-weight: 500;
	margin-top: 10px;
}
#projects .project-info p {
	color: white;
}
#projects .project-img {
	flex-basis: 50%;
	height: 300px;
	overflow: hidden;
	position: relative;
}
#projects .project-img:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
	opacity: 0.7;
}
#projects .project-img img {
	transition: 0.3s ease transform;
}
#projects .project-item:hover .project-img img {
	transform: scale(1.1);
}
/* End Projects section */


/* contact Section */
#contact .contact {
	flex-direction: column;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}
#contact .contact-items {
	/* max-width: 400px; */
	width: 100%;
}
#contact .contact-item {
	width: 80%;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	padding: 30px;
	margin: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	box-shadow: 0px 0px 18px 0 #0000002c;
	transition: 0.3s ease box-shadow;
}
#contact .contact-item:hover {
	box-shadow: 0px 0px 5px 0 #0000002c;
}
#contact .icon {
	width: 70px;
	margin: 0 auto;
	margin-bottom: 10px;
}
#contact .contact-info h1 {
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 5px;
}
#contact .contact-info h2 {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: black;
}
#contact .contact-info h2 a {
	font-size: 1.3rem;
	line-height: 2rem;
	font-weight: 500;
	color: black;
}

/*End contact Section */

/* Footer */
#footer {
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#footer .footer {
	min-height: 200px;
	flex-direction: column;
	padding-top: 50px;
	padding-bottom: 10px;
}
#footer h2 {
	color: white;
	font-weight: 500;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	margin-top: 10px;
	margin-bottom: 10px;
}
#footer .social-icon {
	display: flex;
	margin-bottom: 30px;
}
#footer .social-item {
	height: 50px;
	width: 50px;
	margin: 0 5px;
}
#footer .social-item img {
	filter: grayscale(1);
	transition: 0.3s ease filter;
}
#footer .social-item:hover img {
	filter: grayscale(0);
}
#footer p {
	color: white;
	font-size: 1.3rem;
}
#footer .social-icon .social-item .insta{
	border-radius: 100%;
}
/* End Footer */

/* Keyframes */
@keyframes hamburger_puls {
	0% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(1.4);
	}
}
@keyframes text_reveal_box {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		width: 0;
		left: 100%;
	}
}
@keyframes text_reveal {
	100% {
		color: white;
	}
}
@keyframes text_reveal_name {
	100% {
		color: crimson;
		font-weight: 500;
	}
}
/* End Keyframes */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	h1.section-title {
		font-size: 6rem;
	}

	/* Hero */
	#hero h1 {
		font-size: 7rem;
	}
	/* End Hero */

	/* Services Section */
	#services .service-bottom .service-item {
		flex-basis: 45%;
		margin: 2.5%;
	}
	/* End Services Section */

	/* Project */
	#projects .project-item {
		flex-direction: row;
	}
	#projects .project-item:nth-child(even) {
		flex-direction: row-reverse;
	}
	#projects .project-item {
		height: 400px;
		margin: 0;
		width: 100%;
		border-radius: 0;
	}
	#projects .all-projects .project-info {
		height: 100%;
	}
	#projects .all-projects .project-img {
		height: 100%;
	}
	/* End Project */

	/* About */
	#about .about {
		flex-direction: row;
	}
	#about .col-left {
		width: 600px;
		height: 400px;
		padding-left: 60px;
	}
	#about .about .col-left .about-img::after {
		left: -45px;
		top: 34px;
		height: 98%;
		width: 98%;
		border: 10px solid crimson;
	}
	#about .col-right {
		text-align: left;
		padding: 30px;
	}
	#about .col-right h1 {
		text-align: left;
	}
	/* End About */

	/* contact  */
	#contact .contact {
		flex-direction: column;
		padding: 100px 0;
		align-items: center;
		justify-content: center;
		min-width: 20vh;
	}
	#contact .contact-items {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0;
	}
	#contact .contact-item {
		width: 30%;
		margin: 0;
		flex-direction: row;
	}
	#contact .contact-item .icon {
		height: 100px;
		width: 100px;
	}
	#contact .contact-item .icon img {
		object-fit: contain;
	}
	#contact .contact-item .contact-info {
		width: 100%;
		text-align: left;
		padding-left: 20px;
	}
	/* End contact  */
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	#services .service-bottom .service-item {
		flex-basis: 22%;
		margin: 1.5%;
	}
}
/* End  Media Query For Desktop */

